<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile Page</title>
</head>
<body>
    <h1 style="color: rgb(18, 92, 68);">This is our profile Page</h1>
    <h1 style="color: rgb(238, 0, 255);">Welcome <%= users[0].name %></h1>
    <h2 style="color: rgb(10, 26, 255);">Your email is: <%= users[0].email %></h2>
</body>
</html>