<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log In Page</title>
  </head>
  <body>
    <!-- using the common header that we made inside the common folder in the header.ejs page -->
    <%- include('common/header');%>
    <!-- in the above syntax, the hyphen is very important to render the common element -->
    <!-- NOTE: Including the common element only works in the files with .ejs extension, notr in other static pages like .html etc -->
    <h1>This is our login page</h1>
  </body>
</html>
